package com.handge.housingfund.server.controllers.{{termsOfService}}.api.impl;

import com.handge.housingfund.common.service.{{termsOfService}}.model.*;

import com.handge.housingfund.common.service.{{termsOfService}}.service.{{classname}}Interface;
import com.handge.housingfund.common.service.util.*;
import com.handge.housingfund.common.service.util.ErrorException;
import com.handge.housingfund.common.service.util.ReturnEnumeration;
import com.handge.housingfund.common.service.util.StringUtil;
import org.springframework.beans.factory.annotation.Autowired;
import com.handge.housingfund.common.service.TokenContext;

import java.util.*;

{{#operations}}

public class {{classname}}Impl implements {{classname}}Interface{

  {{#operation}}
  /**
   * {{summary}}
   * {{notes}}
     {{#allParams}}
   * @param {{paramName}} {{description}}
     {{/allParams}}
   */
  public {{returnType}} {{nickname}}(TokenContext tokenContext{{#hasParams}},{{/hasParams}}{{#allParams}}final {{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}){


    if(true){ return ModelUtils.randomModel({{returnType}}.class);}

    return new {{returnType}}(){
      {

      }
    };
  }

  {{/operation}}
}
{{/operations}}
